---
import PageLayout from "@/components/layouts/PageLayout.astro";
import Box from "@/components/pages/home/Box.astro";
import Button from "@/components/ui/button.astro";
import Star from "@/components/ui/star.astro";

// I want to make a "Resources" page with sidebar on the left and a main content on the right
// The sidebar contains the categories of resources and a search bar
// The main content displays the resources related to the selected category

// I want show items to buy / free
---

<PageLayout>
    <section class="mt-32 mb-20 relative w-3/4 mx-auto">
        <!-- <aside class="col-span-3 px-8 pb-4">
            <h2 class="text-2xl font-bold mb-4">Filters</h2>
            <label>
                <input type="text" placeholder="Search" class="w-full"/>
            </label>
            <div class="flex flex-col gap-4 mt-4">
                <section>
                    <h3 class="text-lg font-bold mb-2">Categories</h3>
                    <div class="flex flex-col gap-2 text-sm text-zinc-200">
                        <label class="flex items-center justify-between w-full">
                            <span>Items</span>
                            <input type="checkbox" class="w-4 h-4"/>
                        </label>
                        <label class="flex items-center justify-between w-full">
                            <span>Blocks</span>
                            <input type="checkbox" class="w-4 h-4"/>
                        </label>
                        <label class="flex items-center justify-between w-full">
                            <span>Entities</span>
                            <input type="checkbox" class="w-4 h-4"/>
                        </label>
                    </div>
                </section>
                <Star/>
                <section>
                    <h3 class="text-lg font-bold">Pricing</h3>
                    <Select id="pricing" options={["Free", "Paid"]}/>
                </section>
            </div>
        </aside> -->
        <div class="w-full text-center mt-12 mb-24">
            <h2 class="text-5xl font-bold mb-4">Marketplace</h2>
            <Star/>
        </div>


        <div class="grid grid-cols-5 gap-4">
            {Array.from({length: 10}).map(() => (
                    <Box loading="lazy" image="/images/features/structure/tree.webp">
                        <h2 class="text-white text-xl md:text-2xl font-bold text-left line-clamp-1">
                            Sword Packs
                        </h2>
                        <div class="flex flex-wrap gap-2 mt-6">
                            <Button class="w-full" size="sm" variant="ghost">
                                Download
                            </Button>
                        </div>
                    </Box>
            ))}
        </div>
    </section>
</PageLayout>
