---
import CompoundLayout from "@/components/layouts/CompoundLayout.astro";
import SoundTool from "@/components/pages/tools/sound/SoundTool";
import ShiningStars from "@/components/ui/pattern/ShiningStars.astro";
import { names } from "@/lib/i18n";
import { getTranslations } from "@/lib/i18n";

export const prerender = true;
const { lang, translate } = await getTranslations(Astro.url);
export async function getStaticPaths() {
    return names.map((element) => ({
        params: { lang: element.lang }
    }));
}
---

<CompoundLayout title={translate["tools.sound.seo.title"]} description={translate["tools.sound.seo.description"]}>
    <div class="fixed inset-0">
        <ShiningStars/>
    </div>
    <section class="w-3/4 mx-auto mt-40 relative z-50">
        <SoundTool client:load lang={lang}/>
    </section>
</CompoundLayout> 
