<!--  Legends  -->
<div class="flex justify-evenly gap-4 py-4 items-center flex-wrap">
    <div class="flex items-center gap-4">
        <img src="/icons/tools/level.svg" alt="level" class="size-8 invert my-0!" />
        <span class="text-zinc-400 font-bold text-xs"> The maximum level </span>
    </div>

    <div class="flex items-center gap-4">
        <img src="/icons/tools/anvil.svg" alt="anvil" class="size-8 invert my-0!" />
        <span class="text-zinc-400 font-bold text-xs">
            The fusion cost in anvil
        </span>
    </div>

    <div class="flex items-center gap-4">
        <img src="/icons/tools/weight.svg" alt="weight" class="size-8 invert my-0!" />
        <span class="text-zinc-400 font-bold text-xs">
            Rarity higher value means more common
        </span>
    </div>
</div>

<!--  Changelog  -->
<div class="flex flex-col gap-8">
    <slot />
</div>
