---
import Button from "../button.astro";

interface Props {
    asset: string;
    name: string;
    version: string;
    link: string;
    soon?: boolean;
}

const { asset, name, version, link, soon } = Astro.props;
---

<div
    class="flex items-center justify-between rounded-3xl bg-header-translucent p-4 mb-4"
>
    <div class="flex items-center gap-4">
        <img
            src={asset}
            alt={name}
            class="aspect-square w-14 !my-0 !rounded-xl"
        />
        <div class="flex flex-col">
            <span class="text-lg font-bold">{name}</span>
            <span class="text-sm text-gray-400">Version - {version}</span>
        </div>
    </div>
    <Button
        class="!no-underline"
        variant={soon ? "link" : "modrinth"}
        href={soon ? "#" : link}
        target="_blank"
    >
        {soon ? "Coming Soon" : "Download On Modrinth"}
    </Button>
</div>
