---
import { getTranslations } from "@/lib/i18n";
import type { HTMLAttributes } from "astro/types";
interface Props extends HTMLAttributes<"li"> {
    version: string;
    type: string;
    date: string;
}

const { lang } = await getTranslations(Astro.url);
const props = Astro.props;
---

<li class="flex-col md:flex items-start space-x-3 relative">
    <div class="hidden s:block absolute size-2.5 rounded-full border border-transparent -left-9.5 bg-zinc-200"/>

    <div class="flex relative md:absolute md:right-[110%] gap-x-4">
        <a class="bg-zinc-950 border border-zinc-800 px-6 py-2 rounded-xl flex items-center text-base font-bold hover:underline">
            {props.type}
        </a>
        <a rel="noopener noreferrer" href="#" class="bg-zinc-950 border border-zinc-800 px-6 py-2 rounded-xl flex items-center text-base font-bold hover:underline">
            {props.version}
        </a>
    </div>

    <div class="flex-1 space-y-2 mt-6 md:mt-0">
        <div class="relative prose prose-invert">
            <slot/>
        </div>
    </div>
</li>