---
import { getTranslations, names } from "@/lib/i18n";
import { cn } from "@/lib/utils";
const { lang } = await getTranslations(Astro.url);
---

<div class="relative group/langage">
    <div
        id="heading-langage" 
        class="select-none mr-4 flex items-center gap-2 cursor-pointer hover:text-zinc-400 transition"
        tabindex="0"
    >
        <span data-lang={lang}>
            {names.find((element) => element.lang === lang)?.name}
        </span>
        <img
            src="/icons/chevron-down.svg"
            alt="French"
            class="w-4 h-4 invert"
        />
    </div>

    <ul
        id="langage"
        class="group-focus-within/langage:flex focus-within/langage:flex hover:flex hidden absolute top-8 right-0 w-44 bg-black p-2 flex-col gap-2 rounded-xl border border-zinc-800"
        aria-expanded="false"
    >
        {names.map((element) => (
            <li>
                <a
                    href={`/${element.lang}`}
                    class={cn(
                        "flex items-center justify-between px-4 py-2 transition hover:bg-zinc-900 rounded-md",
                        element.lang === lang
                            ? "font-semibold text-rose-700"
                            : "",
                    )}
                >
                    {element.name}
                    {element.lang === lang && (
                        <img
                            src="/icons/valid.svg"
                            alt="valid"
                            class="w-4 h-4"
                        />
                    )}
                </a>
            </li>
        ))}
    </ul>
</div>
