<div class="sticky h-20 top-0 border-b z-20 backdrop-blur-lg py-4 px-8 md:px-20 w-full flex items-center bg-black/80 border-zinc-800">
    <a href="/" class="flex items-center gap-x-4">
        <img src="/favicon.svg" alt="Voxelwind" class="w-6 h-6 brightness-90 mx-2"/>
        <span class="text-lg text-white font-bold">VOXEL</span>
    </a>
</div>
