---
import PageLayout from "@/components/layouts/PageLayout.astro";

export const prerender = false;
const { test } = Astro.params;
---

<PageLayout>
    <main class="mt-24 mb-20 relative w-full">
        <section class="w-11/12 md:w-3/4 mx-auto my-16 relative z-20">
            <h1>Test: {test}</h1>
        </section>
    </main>
</PageLayout> 