---
import CompoundLayout from "@/components/layouts/CompoundLayout.astro";
---

<CompoundLayout>
    <main class="mt-24 mb-20 relative w-full">
        <section class="w-11/12 md:w-3/4 mx-auto my-16 relative z-20">
            <h1>Uhm</h1>
        </section>
    </main>
</CompoundLayout> 