<div class="bg-zinc-900/50 rounded-2xl p-8">
    <h2 class="text-2xl text-r font-bold mb-2 text-zinc-300">
        <slot name="title"/>
    </h2>
    <p class="text-base text-r text-zinc-400">
        <slot name="content"/>
    </p>
    <hr class="mb-8">
    <slot/>
</div>