---
import Layout from "@/components/layouts/Layout.astro";
import Footer from "@/components/layouts/compound/footer.astro";
import Navbar from "@/components/layouts/compound/navbar.astro";
import ShiningStars from "@/components/ui/pattern/ShiningStars.astro";
import type { BaseLayoutProps } from "@/lib/LayoutHelper";

export interface Props extends BaseLayoutProps {
    transparent?: boolean;
}
---

<Layout {...Astro.props}>
    <Navbar transparent={Astro.props.transparent}/>

    <!-- Background -->
    <div class="absolute rounded-full w-3/4 h-1/2 bg-gradient-to-r from-[#401727] to-[#311e7696] opacity-20 blur-[10rem] top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"/>

    <!-- Shining stars -->
    <div class="fixed inset-0 -z-10">
        <ShiningStars/>
    </div>

    <slot/>
    <Footer/>
</Layout>