---
import { getCollection } from "astro:content";
import CompoundLayout from "@/components/layouts/CompoundLayout.astro";
import TimelineContent from "@/components/pages/timeline/TimelineContent.astro";
import { getTranslations, names } from "@/lib/i18n";
import ShiningStars from "@/components/ui/pattern/ShiningStars.astro";

export const prerender = true;
const { translate } = await getTranslations(Astro.url);
export async function getStaticPaths() {
    const timelines = await getCollection("timeline");
    const teamCollection = await getCollection("team");
    const updates = await getCollection("update", ({ data }) => {
        return !data.draft && data.publishDate < new Date();
    });

    const allSortedPosts = updates.sort((a, b) => {
        return b.data.publishDate.valueOf() - a.data.publishDate.valueOf();
    });

    return timelines.flatMap((timeline) => {
        const members = timeline.data.authors.map((author) => {
            return teamCollection.find((member) => member.id === author);
        });

        return names.map((i18n) => {
            const updateTimeline = allSortedPosts.filter(
                (update) => update.id.split("/")[1] === timeline.id && update.id.split("/")[0] === i18n.lang
            );

            return {
                params: { lang: i18n.lang, timeline: timeline.id },
                props: {
                    updates: updateTimeline,
                    members,
                    timeline
                }
            };
        });
    });
}

const { updates } = Astro.props;
---

<CompoundLayout title={translate["timeline.opengraph.title"]} description={translate["timeline.opengraph.description"]} openGraph={{
    image: "/images/opengraph/timeline.webp"
}}>
    <div class="fixed inset-0">
        <ShiningStars/>
    </div> 

    <section class="w-11/12 md:w-3/4  mx-auto mt-40 relative z-20">
        <h1 class="text-3xl lg:text-6xl lg:tracking-tight font-bold mt-1 lg:leading-tight">
            {translate["timeline.updates"]}
        </h1>
        <p class="text-zinc-400 mt-1 text-lg font-medium">
            {translate["timeline.updates.title"]}
        </p>
    </section>

    <section class="flex justify-center md:grid md:grid-cols-[30%_1px_1fr] gap-x-8 w-3/4 max-w-6xl mt-20 mx-auto relative z-20 mb-32">
        <div class="hidden md:block col-span-1" /> 
    
        <ul class="col-span-2 space-y-12">
            <div class="flex h-full gap-x-16">
                <div class="hidden s:block h-full w-0.25 mt-4 bg-gradient-to-b from-zinc-300 from-0% via-zinc-800 via-[20%] to-transparent to-[150%] rounded-full"/>
                <div class="flex flex-col gap-y-16">
                    {updates.map((update, index) => <TimelineContent entry={update} index={index}/>)}
                </div>
            </div>
        </ul>
    </section>
</CompoundLayout>