---
import CompoundLayout from "@/components/layouts/CompoundLayout.astro";
import Button from "@/components/ui/button.astro";
import DashedPattern from "@/components/ui/pattern/DashedPattern.astro";

export const prerender = true;
---

<CompoundLayout title="404 Not Found">
    <div class="relative h-dvh max-w-full flex justify-center items-center container mx-auto">
        <DashedPattern/>
        <div>
            <h1 class="font-bold text-white text-center" style={{
                fontSize: "clamp(3.5rem, 7dvw, 12rem)",
                lineHeight: "1",
            }}>
                T'es perdu ?
            </h1>
            <div class="max-w-full w-1/2 mx-auto mt-6">
                <p class="text-base lg:text-2xl font-medium mt-4 text-zinc-500 text-center">
                    Cette page n'existe pas, ou a été déplacée, contactez-nous si vous pensez qu'il s'agit d'une erreur.
                </p>
                <div class="mt-10 *:w-full grid xl:grid-cols-2 gap-y-4 gap-x-8">
                    <Button size="xl" href="/">Revenir a l'accueil</Button>
                    <Button size="xl" variant="ghost" href="/contact">Nous contacter</Button>
                </div>
            </div>
        </div>
    </div>
</CompoundLayout>
