---
import CompoundLayout from "../components/layouts/CompoundLayout.astro";
import Button from "../components/ui/button.astro";
import DashedPattern from "../components/ui/pattern/DashedPattern.astro";
import TriangleWave from "../components/ui/pattern/TriangleWave";
import {getTranslationFromLang} from "../lib/i18n";
import Adsense from "../components/ui/adsense.astro";

const {translate} = await getTranslationFromLang("en-us");

export const prerender = true;
---

<CompoundLayout title="404 Not Found">
    <TriangleWave client:only="react"/>

    <div class="relative h-dvh max-w-full flex justify-center items-center container mx-auto">
        <DashedPattern/>
        <div>
            <h1 class="font-bold text-white text-center" style={{
                fontSize: "clamp(3.5rem, 7dvw, 12rem)",
                lineHeight: "1"
            }}>
                {translate["lost.title"]}
            </h1>
            <div class="max-w-full w-1/2 mx-auto mt-6">
                <p class="text-base lg:text-2xl font-medium mt-4 text-zinc-500 text-center">
                    {translate["lost.description"]}
                </p>
                <div class="mt-10 *:w-full grid xl:grid-cols-2 gap-y-4 gap-x-8">
                    <Button size="xl" href="/">{translate["generic.back"]}</Button>
                    <Button size="xl" variant="ghost" href="/contact">{translate["generic.contact_us"]}</Button>
                </div>
                <div class="my-8 relative">
                    <Adsense slot="2018282613"/>
                </div>
            </div>
        </div>
    </div>
</CompoundLayout>
