---
import {Image} from "astro:assets";
import Button from "@/components/button.astro";
import Faq from "@/components/faq.astro";
import CompoundLayout from "@/components/layouts/CompoundLayout.astro";
import Box from "@/components/pages/home/Box.astro";
import Fog from "@/components/pattern/Fog.astro";
import faq_data from "@/content/data/faq.json";

export const prerender = true;
---

<CompoundLayout>
    <!-- Main view -->
    <section class="py-20 h-dvh w-3/4 mx-auto flex xl:grid grid-cols-2 items-center gap-8">
        <div class="absolute w-10/12 -translate-x-1/2 left-1/2 bottom-0 top-1/2 -translate-y-1/2 shadow-2xl bg-gradient-to-r from-pink-900 to-blue-900 opacity-30 rounded-full blur-[5rem]"/>

        <div class="h-full w-[95%] md:w-full mx-auto relative">
            <div class="xl:invisible visible absolute flex justify-center items-center size-full -z-10">
                <div class="absolute inset-0 top-1/2 -translate-y-1/2 shadow-2xl bg-gradient-to-r from-pink-900 to-blue-900 opacity-50 rounded-full blur-[5rem]"/>
            </div>

            <div class="size-full flex flex-col justify-center">
                <small class="text-pink-700 font-bold tracking-wide text-[16px]">- VOXEL</small>
                <h1 class="text-white text-4xl md:text-6xl font-bold mt-4 text-balance">Developpe les mods de tes
                    rêves</h1>
                <p class="text-gray-300 mt-4">
                    VOXEL, qu'est-ce que c'est ? Ce sont des guides en français, du niveau débutant à avancé, pour
                    apprendre à développer
                    des mods ou enrichir ses connaissances existantes.
                </p>

                <div class="mt-8 flex gap-4">
                    <Button href="/guides" size="xl" variant="primary">Commencer</Button>
                    <Button href="/guides" size="xl" variant="ghost">En savoir plus</Button>
                </div>
            </div>
        </div>
        <div class="relative w-full hidden xl:flex justify-center items-center">
            <Image loading="eager" width="500" height="500" src="/images/features/dev.webp" alt="404"
                   class="w-1/2 aspect-auto animate-levitate drag-none"
            />
            <img class="absolute opacity-10 drag-none" src="/icons/circle.svg" alt="box"/>
        </div>
    </section>

    <!-- Features -->
    <section class="mb-32 md:my-52 w-3/4 mx-auto xl:grid grid-cols-2 gap-40 relative">
        <div class="absolute w-10/12 h-full -translate-x-1/2 left-1/2 bottom-0 top-1/2 -translate-y-1/2">
            <Fog/>
        </div>

        <div class="hidden xl:flex justify-center items-center relative w-full">
            <Image loading="eager" width="442" height="544" src="/images/features/skin/avatar.webp" alt="404"
                   class="w-1/2 aspect-auto animate-levitate scale-x-[-1] drag-none"/>
            <img class="absolute opacity-10 drag-none" src="/icons/circle.svg" alt="box"/>
        </div>

        <div class="w-[95%] xl:w-full mx-auto">
            <small class="text-pink-700 font-bold tracking-wide text-[16px]">- Voxel</small>
            <h1 class="text-white text-4xl md:text-5xl font-bold mt-4">Fait par un passionné pour les passionnés</h1>
            <p class="text-zinc-400 text-sm md:text-base mt-6">
                VOXEL est un projet personnel, créé par un passionné de développement de mods Minecraft. L'objectif
                est de partager mes connaissances et de vous aider à développer vos propres mods.
            </p>

            <div class="grid grid-cols-3 gap-4 mt-8">
                {['Depuis Zero', 'En Français', '1.20.x'].map((element) => (
                        <div class="relative flex items-center justify-center bg-zinc-900 border border-zinc-700 px-3 py-4 rounded-xl shadow-xl shadow-zinc-950 overflow-hidden">
                            <h2 class="text-white text-sm md:text-base font-bold text-center">
                                {element}
                            </h2>
                        </div>
                ))}
            </div>
        </div>
    </section>

    <!-- Product -->
    <section class="my-16 md:my-52 w-3/4 xl:w-1/2 mx-auto grid md:grid-cols-2 gap-8">
        <Box image="/images/features/structure/tree.webp" class="border-zinc-800 border-2 relative z-10">
            <div class="absolute -z-10 top-0 left-0 w-full h-full bg-gradient-to-r from-pink-900 to-blue-900 opacity-30 rounded-full blur-[5rem]"/>
            <h2 class="text-white text-xl md:text-2xl font-bold text-left line-clamp-1">Bases du modding - 1.20</h2>
            <p class="text-zinc-400 text-sm md:text-base mt-2 line-clamp-3">
                Apprenez les bases du modding Minecraft, de la création de simples blocs à l'ajout de nouvelles
                fonctionnalités.
            </p>
            <div class="flex flex-wrap gap-2 mt-6">
                <Button class="w-full xl:w-fit" href="/guides" size="md" variant="primary">Commencer</Button>
                <Button class="w-full xl:w-fit" href="/guides" size="md" variant="transparent">En savoir plus</Button>
            </div>
        </Box>
        <Box image="/images/features/bundle.webp">
            <h2 class="text-white text-xl md:text-2xl font-bold text-left line-clamp-1">
                Resources de qualité
            </h2>
            <p class="text-zinc-400 text-sm md:text-base mt-2 line-clamp-3">
                Augmentez la qualité de vos mods en ajoutant des ressources de qualité.
            </p>
            <Button class="w-full xl:w-fit mt-6" href="/" size="md" variant="transparent">Faire un tour</Button>
        </Box>
        <Box image="/images/features/title/question_mark.webp">
            <h2 class="text-white text-xl md:text-2xl font-bold text-left line-clamp-1">Bientôt</h2>
            <p class="text-zinc-400 text-sm md:text-base mt-2 line-clamp-3">
                Une fonctionnalité est en cours de <b>01010</b> développement, elle sera bientôt disponible, 10110
                <b>AI</b>
                l'écoute
                !
            </p>
        </Box>

        <Box image="/images/features/title/question_mark.webp">
            <h2 class="text-white text-xl md:text-2xl font-bold text-left line-clamp-1">Bientôt</h2>
            <p class="text-zinc-400 text-sm md:text-base mt-2 line-clamp-3">
                Une fonctionnalité est en cours de développement, elle sera bientôt disponible, restez à l'écoute !
            </p>
        </Box>
    </section>

    <!-- FAQ -->
    <section class="mt-20 mb-20 w-3/4 xl:w-full mx-auto relative">
        <Faq data={faq_data}/>
    </section>
</CompoundLayout>