---
import CompoundLayout from "@/components/layouts/CompoundLayout.astro";
import ShiningStars from "@/components/ui/pattern/ShiningStars.astro";

const description =
    "Les mentions légales du site Voxel, un site qui est spécialisé dans la création de contenu pour Minecraft, et aide les créateurs ou les joueurs à créer ou aléurer leur propre contenu.";
---

<CompoundLayout title="Mentions Légales · Voxel" description={description}>
    <div class="absolute rounded-full w-3/4 h-1/2 bg-linear-to-r from-[#401727] to-[#311e7696] opacity-20 blur-[10rem] top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"/>
    <div class="fixed inset-0 -z-10">
        <ShiningStars/>
    </div>
            
    <div class="my-48 relative z-10">
        <div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8">
            <h1 class="text-4xl font-bold mb-6">Mentions Légales</h1>

        <section class="mb-8">
            <h2 class="text-2xl font-semibold mb-4">1. Éditeur du site</h2>
            <p>Ce site (Voxel) est géré/administré et créer par Hardel, Hardel étant un pseudonyme.</p>
            <p>Contact : teams.voxel@gmail.com</p>
            <p>Site non-commercial (en cours de développement pour une activité commerciale)</p>
        </section>

        <section class="mb-8">
            <h2 class="text-2xl font-semibold mb-4">2. Hébergement</h2>
            <p>Ce site est hébergé par :</p>
            <p>Vercel Inc. - vercel.com</p>
            <p>États-Unis</p>
        </section>

        <section class="mb-8">
            <h2 class="text-2xl font-semibold mb-4">4. Nom de domaine</h2>
            <p>Le nom de domaine est géré par Cloudflare, Inc.</p>
            <ul>
                <li>
                    <a href="https://www.cloudflare.com/fr-fr/">Cloudflare</a>
                </li>
            </ul>
        </section>

        <section class="mb-8">
            <h2 class="text-2xl font-semibold mb-4">5. Limitation de responsabilité</h2>
                <p>
                    Les informations qui sont fournies sur ce site Voxel, Sont là a titre informatif. L'éditeur donc Hardel s'efforce de fournir des informations qui sont aussi précises que possible mais garanti pas l'exactitude.
                </p>
            </section>

        <section class="mb-8">
            <h2 class="text-2xl font-semibold mb-4">6. Données statistiques</h2>
            <p>Certaines données sont collectées grâce à Google Analytics, et grâce à des outils en interne. Ces données sont traitées de manière entièrement anonyme.</p>
            <p>Pour obtenir une informations sur comment les données sont gérées, vous pouvez consulter la politique de confidentialité.</p>
        </section>

        <section class="mb-8">
            <h2 class="text-2xl font-semibold mb-4">8. Modification des mentions légales</h2>
            <p>L'éditeur peut se réserver le droit de modifier ces mentions à n'importe quel moment.</p>
        </section>
        </div>
    </div>
</CompoundLayout>
