---
import CompoundLayout from "@/components/layouts/CompoundLayout.astro";
import ShiningStars from "@/components/ui/pattern/ShiningStars.astro";

const description =
    "La politique de confidentialité du site Voxel, un site qui est spécialisé dans la création de contenu pour Minecraft, et aide les créateurs ou les joueurs à créer ou aléurer leur propre contenu.";
---

<CompoundLayout title="Politique de Confidentialité - Voxel" description={description}>
    <div class="absolute rounded-full w-3/4 h-1/2 bg-linear-to-r from-[#401727] to-[#311e7696] opacity-20 blur-[10rem] top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"/>
    <div class="fixed inset-0 -z-10">
        <ShiningStars/>
    </div>

    <div class="my-48 relative z-10">
        <div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8">
            <h1 class="text-4xl font-bold mb-6">Politique de Confidentialité</h1>

            <section class="mb-8">
                <h2 class="text-2xl font-semibold mb-4">1. Collecte des données de l'utilisateur</h2>
                <p class="mb-4">Nous vous informons que Voxel collecte les données :</p>
                <ul class="list-disc ml-6 mb-4">
                    <li>Les données lié a la navigation (Google Analytics)</li>
                    <li>L'adresse IP</li>
                    <li>Les cookies de session</li>
                    <li>Et les données qui sont lié a des outils que nous avons créer, comme les "configurateurs". Ces données sont bien entendu anonymisées et servent a l'équilibrage des contenu.</li>
                </ul>
            </section>

            <section class="mb-8">
                <h2 class="text-2xl font-semibold mb-4">2. Utilisation de ces données</h2>
                <p class="mb-4">Vos données sont utilisées pour :</p>
                <ul class="list-disc ml-6 mb-4">
                    <li>Améliorer votre expérience utilisateur</li>
                    <li>Analyser le trafic et en conséquence créer des statistiques</li>
                    <li>Permettre l'équilibrage des contenu comme NeoEnchant a partir des données anonymisées</li>
                </ul>
            </section>

            <section class="mb-8">
                <h2 class="text-2xl font-semibold mb-4">3. Cookies</h2>
                <p class="mb-4">Voxel utilise certains cookies pour :</p>
                <ul class="list-disc ml-6 mb-4">
                    <li>Mesurer l'audience avec Google Analytics</li>
                    <li>Mémoriser certaines de vos préférences</li>
                    <li>Assurer le bon fonctionnement de votre expérience</li>
                </ul>
            </section>

            <section class="mb-8">
                <h2 class="text-2xl font-semibold mb-4">4. Vos droits</h2>
                <p class="mb-4">(Aucune donnée n'est actuellement lié a un utilisateur donc cette section est là de manière prévisionnelle) Conformément au loi RGPD en europe, vous disposez de certains droits :</p>
                <ul class="list-disc ml-6 mb-4">
                    <li>Le droit d'accès à vos données qui vous sont liées</li>
                    <li>Le droit d'opposition au traitement</li>
                    <li>Le droit de rectification</li>
                    <li>Le droit à l'effacement</li>
                    <li>A propos des outils comme le Configurator, toutes les informations sont anonymisées et ne peuvent être tracés ou ne peuvent pas être utilisés pour identifier un utilsateur</li>
                </ul>
                <p>Si vous souhaitez exercer certains de ces droits, hésitez pas à nous contacter à : teams.voxel@gmail.com</p>
            </section>

            <section class="mb-8">
                <h2 class="text-2xl font-semibold mb-4">5. Sécurité</h2>
                <p class="mb-4">Voxel met tout en œuvre pour votre sécurité afin de protéger vos données anonymisées ou non. Contre les accès non autorisé, les modifications malveillantes ou la divulgation et destruction des ces données.</p>
            </section>

            <section class="mb-8">
                <h2 class="text-2xl font-semibold mb-4">6. Services tiers</h2>
                <p class="mb-4">Voxel utilise certains services tiers pour le bon fonctionnement de son site :</p>
                <ul class="list-disc ml-6 mb-4">
                    <li>Google Analytics</li>
                    <li>Vercel</li>
                    <li>Cloudflare</li>
                    <li>Neon Database</li>
                    <li>Stripe/Lemon Squeezy</li>
                </ul>
            </section>

            <section class="mb-8">
                <h2 class="text-2xl font-semibold mb-4">7. Modifications</h2>
                <p class="mb-4">La politique de confidentialité peut a tout moment être modifiée et vous en sera normalement notifié. Ces modifications entrent directement en vigueur dès leur publication sur le site.</p>
            </section>

            <section class="mb-8">
                <h2 class="text-2xl font-semibold mb-4">8. Réseaux sociaux</h2>
                <p class="mb-4">Voxel contient nos réseaux sociaux (YouTube, Twitter, etc.) :</p>
                <ul class="list-disc ml-6 mb-4">
                    <li>Ces plateformes contiennent leurs propres politiques de confidentialité</li>
                </ul>
            </section>
        </div>
    </div>
</CompoundLayout>
