---
import CompoundLayout from "@/components/layouts/CompoundLayout.astro";
import ShiningStars from "@/components/ui/pattern/ShiningStars.astro";

const description =
    "Les conditions d'utilisation du site Voxel, un site qui est spécialisé dans la création de contenu pour Minecraft, et aide les créateurs ou les joueurs à créer ou aléurer leur propre contenu.";
---

<CompoundLayout title="Conditions Générales d'Utilisation · Voxel" description={description}>
    <div class="absolute rounded-full w-3/4 h-1/2 bg-linear-to-r from-[#401727] to-[#311e7696] opacity-20 blur-[10rem] top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"/>
    <div class="fixed inset-0 -z-10">
        <ShiningStars/>
    </div>

    <div class="my-48 relative z-10">
        <div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8">
            <h1 class="text-4xl font-bold mb-6">Conditions Générales d'Utilisation</h1>
            <section class="mb-8">
                <h2 class="text-2xl font-semibold mb-4">1. Conditions d'utilisation</h2>
                <p class="mb-4">
                    En accédant et en utilisant le site "hardel.voxel.io", vous acceptez d'être lié aux conditions d'utilisation. 
                    Ces conditions sont là pour vous protéger, si vous n'étes pas d'accord avec ces conditions, n'utiliser pas ce site.
                </p>
            </section>

            <section class="mb-8">
                <h2 class="text-2xl font-semibold mb-4">2. Contenu du site</h2>
                <p class="mb-4">
                    Le site "hardel.voxel.io" vous offres des outils pour la création de contenu relatif a Minecraft. 
                    Voxel propose du contenu informatif et interactif qui est lié à l'univers de Minecraft, Sachez que Voxel n'est pas affilié à Mojang ou Microsoft.
                </p>
            </section>

            <section class="mb-8">
                <h2 class="text-2xl font-semibold mb-4">3. Propriété intellectuelle</h2>
                <p class="mb-4">
                    Le contenu sur ce site que ce soit des textes, des images, des logos ou tout autre contenu est la propriété de Voxel, 
                    sauf dans le cas d'une mention contraire. Toute reproduction n'est pas autorisée.
                    Certaines contenus proviennent de Minecraft qui est une marque déposée de Mojang Studios. Certains contenus dans Voxel sont affilités a des créateurs de contenu avec leurs consentement.
                </p>
                <p class="mb-4">
                    Minecraft est une marque qui est déposée par Mojang Studios. Le contenu fourni par Voxel n'est pas approuvé ou affilié à Mojang ou Microsoft.
                </p>
            </section>

            <section class="mb-8">
                <h2 class="text-2xl font-semibold mb-4">4. Utilisation du site</h2>
                <p class="mb-4">Si vous utilisez Voxel, vous vous engagez à plusieurs choses :</p>
                <ul class="list-disc ml-6 mb-4">
                    <li>Vous ne devez pas perturber et/ou interférer avec le fonctionnement du site</li>
                    <li>Vous ne devez pas essayer d'accéder à des zones restreintes du site d'une manière illégale</li>
                    <li>Vous ne devez pas utiliser ce site à des fins illégales ou pas autorisées</li>
                    <li>Vous, vous devez de respecter les droits de la propriété intellectuelle</li>
                </ul>
            </section>

            <section class="mb-8">
                <h2 class="text-2xl font-semibold mb-4">5. Comptes utilisateurs</h2>
                <p class="mb-4">L'authentification n'est pas encore accéssible mais en prévision, du système de comptes. Lors de la création d'un compte :</p>
                <ul class="list-disc ml-6 mb-4">
                    <li>Vous serez responsable de ne pas partager vos identifiants avec d'autres personnes</li>
                    <li>Vous devrez respecter la politique de confidentialité, qui est disponible sur le site dans le bas de la page</li>
                    <li>Nous nous réservons le droit de suspendre ou supprimer votre compte. Dans le cas ou de l'argent réel ou virtuel est impliqué, cela seras en fonction des conditions, des termes, dans le cas contraire ont se reserve le droit de le faire sans conditions</li>
                </ul>
            </section>

            <section class="mb-8">
                <h2 class="text-2xl font-semibold mb-4">6. Outils et contenu qui sont générés</h2>
                <p class="mb-4">Les outils qu'ont a mis en place permettent de modifier et de personnaliser certains contenus relatif a Minecraft. En les utilisant :</p>
                <ul class="list-disc ml-6 mb-4">
                    <li>Vous serez responsable de ces modifications, que vous aurez apporté</li>
                    <li>Le ou les contenus qui ont été générés et/ou modifiés sont uniquement pour votre usage personnel et ne peuvent être utilisés pour d'autres usages, exeptés si vous êtes l'auteur du contenu originelle, ou si vous avez l'autorisation de l'auteur</li>
                    <li>Ont peut pas garantir que la compatibilité des contenus qui ont été modifiés soit fonctionnel dans 100% des cas</li>
                    <li>Vous vous engagez à utiliser ces outils pour la création de contenu dans un cadre légal ou qui n'est pas nuisible</li>
                </ul>
            </section>

            <section class="mb-8">
                <h2 class="text-2xl font-semibold mb-4">7. Contenu téléchargeable</h2>
                <p class="mb-4">Les contenu comme les mods ou les datapacks sont uniquesment disponibles sur les plateformes suivantes (Modrinth/CurseForge) :</p>
                <ul class="list-disc ml-6 mb-4">
                    <li>Les plateformes ci-dessus ont leurs conditions d'utilisation</li>
                    <li>Ont ne peut pas être responsable des problèmes qui sont liés aux téléchargement sur ces plateformes</li>
                    <li>En cas de probléme sur le contenu téléchargé, veuillez me contacter par Discord ou par email</li>
                </ul>
            </section>
            
            <section class="mb-8">
                <h2 class="text-2xl font-semibold mb-4">8. Services impliquant des paiements</h2>
                <p class="mb-4">Voxel propose des contenus de toute sorte qui impliquent des paiements, via Patreon et LemonSqueezy/Stripe :</p>
                <ul class="list-disc ml-6 mb-4">
                    <li>Le ou les paiements sont actuellement gérés par des plateformes tierces</li>
                    <li>L'abonnement de Patreon donne accès en avant-première a du contenu exclusif ou non, ainsi que des salons sur discord</li>
                    <li>Les avantages payants sont sujets à des modifications a n'importe quel moment</li>
                    <li>Les remboursement ne sont pas possible sauf si il y a une obligation légal</li>
                </ul>
            </section>

            <section class="mb-8">
                <h2 class="text-2xl font-semibold mb-4">9. Guides et Formations</h2>
                <p class="mb-4">Les guides et les contenu similaire :</p>
                <ul class="list-disc ml-6 mb-4">
                    <li>Nous nous essaierons un maximum de fournir des informations qui sont exactes et à jour</li>
                    <li>Vous utilisateurs, en suivant ces contenus, vous le faites sous votre propre responsabilité, si vous détournez le contenu pour un usage illégal ou nuisible, vous serez responsable de vos actions</li>
                </ul>
            </section>

            <section class="mb-8">
                <h2 class="text-2xl font-semibold mb-4">10. Limitation de responsabilité</h2>
                <p class="mb-4">
                    Le contenu fourni par Voxel est "tel quel" et sans garantie. Voxel ne peut pas être tenu responsable 
                    des dommages directs ou indirects qui sont résultant de l'utilisation de ce site.
                </p>
            </section>

            <section class="mb-8">
                <h2 class="text-2xl font-semibold mb-4">11. Modification des conditions</h2>
                <p class="mb-4">
                    Ont se réserve le droit de modifier ces conditions à n'importe quel moment. 
                    Les modifications prendront effet dès leur modification, lié a l'environnement (Production/Pré-production/Développement).
                </p>
            </section>

            <section class="mb-8">
                <h2 class="text-2xl font-semibold mb-4">12. Contact</h2>
                <p class="mb-4">
                    Pour la moindre question concernant ces conditions, 
                    vous pouvez nous contacter avec l'adresse suivante : teams.voxel@gmail.com
                </p>
            </section>
        </div>
    </div>
</CompoundLayout>
