---
import CompoundLayout from "@/components/layouts/CompoundLayout.astro";

const description = "Conditions d'utilisation du site Voxel, Voxel est spécialisées dans la création de contenu Minecraft.";
---

<CompoundLayout title="Voxel - Conditions Générales d'Utilisation" description={description}>
    <div class="my-20">
        <div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8">
            <h1 class="text-4xl font-bold mb-6">Conditions Générales d'Utilisation</h1>
            <section class="mb-10">
                <h2 class="text-2xl font-bold mb-2">1. Propriété intellectuelle</h2>
                <p class="mb-4">
                    Tous les éléments de ce site web, y compris, mais sans s'y limiter, les textes, les graphiques, les
                    images, les logos,
                    les icônes de boutons, les clips audio et vidéo, les téléchargements numériques, les compilations de
                    données et les
                    logiciels, sont la propriété exclusive de Oneirics ou de ses fournisseurs tiers de contenu, et sont
                    protégés par les
                    lois sur les droits d'auteur, les marques de commerce et autres lois applicables en matière de
                    propriété intellectuelle.
                </p>

                <p class="mb-4">
                    L'utilisation non autorisée de tout contenu de ce site web est strictement interdite et peut
                    constituer une violation
                    des lois sur les droits d'auteur, les marques de commerce ou autres lois applicables en matière de
                    propriété
                    intellectuelle.
                </p>
            </section>

            <section class="mb-10">
                <h2 class="text-2xl font-bold mb-2">2. Licence d'utilisation limitée</h2>
                <p class="mb-4">
                    Sauf indication contraire expresse de Oneirics, vous êtes autorisé à accéder et à utiliser le
                    contenu de ce site web
                    uniquement à des fins personnelles et non commerciales. Vous êtes autorisé à télécharger, copier,
                    imprimer et conserver
                    des copies de pages spécifiques de ce site web, mais uniquement pour votre usage personnel et non
                    commercial. Tout autre
                    usage, y compris, mais sans s'y limiter, la reproduction, la modification, la distribution, la
                    transmission, la
                    republication ou l'affichage du contenu de ce site web est strictement interdit sans le consentement
                    écrit préalable de
                    [Nom de l'entreprise].
                </p>
            </section>

            <section class="mb-10">
                <h2 class="text-2xl font-bold mb-2">3. Marques de commerce</h2>
                <p class="mb-4">
                    Toutes les marques de commerce, les marques de service et les logos utilisés sur ce site web sont la
                    propriété de
                    Oneirics ou de ses fournisseurs tiers de contenu. Vous n'êtes pas autorisé à utiliser ces marques de
                    commerce, marques
                    de service ou logos sans le consentement écrit préalable de [Nom de l'entreprise] ou du propriétaire
                    de la marque de
                    commerce.
                </p>
            </section>

            <section class="mb-10">
                <h2 class="text-2xl font-bold mb-2">4. Contenu généré par l'utilisateur</h2>
                <p class="mb-4">
                    Dans la mesure où vous fournissez du contenu sur ce site web, y compris, mais sans s'y limiter, des
                    commentaires, des
                    messages, des photographies, des vidéos, des suggestions, des idées ou tout autre matériel soumis à
                    Oneirics ("Contenu
                    généré par l'utilisateur"), vous accordez à [Nom de l'entreprise] une licence non exclusive,
                    mondiale, libre de
                    redevances, transférable et sous-licenciable pour utiliser, reproduire, modifier, adapter, publier,
                    traduire, créer des
                    œuvres dérivées à partir de, distribuer, exécuter et afficher publiquement le contenu généré par
                    l'utilisateur dans tous
                    les médias existants ou futurs. Vous garantissez que vous avez tous les droits nécessaires pour
                    accorder cette licence.
                </p>

                <p class="mb-4">
                    Vous reconnaissez et acceptez que Oneirics ne peut être tenu responsable de tout Contenu généré par
                    l'utilisateur et que
                    vous utilisez le Contenu généré par l'utilisateur à vos propres risques.
                </p>
            </section>

            <section>
                <h2 class="text-2xl font-bold mb-2">5. Résiliation</h2>
                <p class="mb-4">
                    Ces Conditions Générales d'Utilisation entrent en vigueur dès que vous accédez à ce site web et
                    resteront en vigueur
                    jusqu'à leur résiliation. Oneirics peut résilier ces Conditions Générales d'Utilisation à tout
                    moment et sans préavis si
                    vous ne respectez pas l'une des dispositions de ces Conditions Générales d'Utilisation.
                </p>
            </section>
        </div>
    </div>
</CompoundLayout>
