---
import { Image } from "astro:assets";
import CompoundLayout from "@/components/layouts/CompoundLayout.astro";
import NeoEnchantmentViewer from "@/components/pages/datapacks/NeoEnchantmentViewer";
import DatapackCard from "@/components/ui/DatapackCard.astro";
import Adsense from "@/components/ui/adsense.astro";
import Button from "@/components/ui/button.astro";
import DashedPattern from "@/components/ui/pattern/DashedPattern.astro";
import ShiningStars from "@/components/ui/pattern/ShiningStars.astro";
import Vortex from "@/components/ui/pattern/Vortex.astro";
import { getTranslations, names } from "@/lib/i18n";
import type { SectionViewer } from "@/lib/type/SectionViewer";

const { translate, lang } = await getTranslations(Astro.url);
export const prerender = true;
export async function getStaticPaths() {
    return names.map((element) => ({
        params: { lang: element.lang }
    }));
}

const sections: SectionViewer[] = [
    {
        id: "range",
        short: translate["datapacks.neoenchant.type.range.short"],
        image: "/images/features/item/range.webp",
        enchants: [
            {
                id: "breezing_arrow",
                name: translate["datapacks.neoenchant.enchant.breezing_arrow.title"],
                description: translate["datapacks.neoenchant.enchant.breezing_arrow.description"],
                image: "/images/features/item/range.webp",
                video: "/videos/datapacks/neoenchant/breezing_arrow.webm",
                level: 3,
                addons: true
            },
            {
                id: "explosive_arrow",
                name: translate["datapacks.neoenchant.enchant.explosive_arrow.title"],
                description: translate["datapacks.neoenchant.enchant.explosive_arrow.description"],
                image: "/images/features/item/range.webp",
                video: "/videos/datapacks/neoenchant/explosive_arrow.webm",
                level: 3,
                addons: true
            },
            {
                id: "accuracy_shot",
                name: translate["datapacks.neoenchant.enchant.accuracy_shot.title"],
                description: translate["datapacks.neoenchant.enchant.accuracy_shot.description"],
                image: "/images/features/item/range.webp",
                video: "/videos/datapacks/neoenchant/accuracy_shot.webm",
                level: 1
            },
            {
                id: "echo_shot",
                name: translate["datapacks.neoenchant.enchant.echo_shot.title"],
                description:
                    "The arrow has the power of the warden, it will explode on impact, inflicting damage to entities and not destroying blocks, the shooter is immune to this explosion.",
                image: "/images/features/item/range.webp",
                video: "/videos/datapacks/neoenchant/echo_shot.webm",
                level: 3
            },
            {
                id: "storm_arrow",
                name: translate["datapacks.neoenchant.enchant.storm_arrow.title"],
                description: translate["datapacks.neoenchant.enchant.storm_arrow.description"],
                image: "/images/features/item/range.webp",
                video: "/videos/datapacks/neoenchant/storm_arrow.webm",
                level: 2,
                addons: true
            }
        ]
    },
    {
        id: "sword",
        image: "/images/features/item/sword.webp",
        short: translate["datapacks.neoenchant.type.weapon.short"],
        enchants: [
            {
                id: "fear",
                name: translate["datapacks.neoenchant.enchant.fear.title"],
                description: translate["datapacks.neoenchant.enchant.fear.description"],
                image: "/images/features/item/sword.webp",
                video: "/videos/datapacks/neoenchant/fear.webm",
                level: 1
            },
            {
                id: "life_steal",
                name: translate["datapacks.neoenchant.enchant.life_steal.title"],
                description: translate["datapacks.neoenchant.enchant.life_steal.description"],
                image: "/images/features/item/sword.webp",
                video: "/videos/datapacks/neoenchant/life_steal.webm",
                level: 2
            },
            {
                id: "pull",
                name: translate["datapacks.neoenchant.enchant.pull.title"],
                description: translate["datapacks.neoenchant.enchant.pull.description"],
                image: "/images/features/item/sword.webp",
                video: "/videos/datapacks/neoenchant/pull.webm",
                level: 1,
                addons: true
            },
            {
                id: "attack_speed",
                name: translate["datapacks.neoenchant.enchant.attack_speed.title"],
                description: translate["datapacks.neoenchant.enchant.attack_speed.description"],
                image: "/images/features/item/sword.webp",
                video: "/videos/datapacks/neoenchant/attack_speed.webm",
                level: 2
            },
            {
                id: "reach",
                name: translate["datapacks.neoenchant.enchant.reach.title"],
                description: translate["datapacks.neoenchant.enchant.reach.description"],
                image: "/images/features/item/sword.webp",
                video: "/videos/datapacks/neoenchant/reach.webm",
                level: 3
            },
            {
                id: "xp_boost",
                name: translate["datapacks.neoenchant.enchant.xp_boost.title"],
                description: translate["datapacks.neoenchant.enchant.xp_boost.description"],
                image: "/images/features/item/sword.webp",
                video: "/videos/datapacks/neoenchant/xp_boost.webm",
                level: 3
            },
            {
                id: "striker",
                name: translate["datapacks.neoenchant.enchant.striker.title"],
                description: translate["datapacks.neoenchant.enchant.striker.description"],
                image: "/images/features/item/mace.webp",
                video: "/videos/datapacks/neoenchant/striker.webm",
                level: 2,
                addons: true
            },
            {
                id: "wind_propulsion",
                name: translate["datapacks.neoenchant.enchant.wind_propulsion.title"],
                description: translate["datapacks.neoenchant.enchant.wind_propulsion.description"],
                image: "/images/features/item/mace.webp",
                video: "/videos/datapacks/neoenchant/wind_propulsion.webm",
                level: 3,
                addons: true
            }
        ]
    },
    {
        id: "tools",
        image: "/images/features/item/pickaxe.webp",
        short: translate["datapacks.neoenchant.type.tool.short"],
        enchants: [
            {
                id: "auto_smelt",
                name: translate["datapacks.neoenchant.enchant.auto_smelt.title"],
                description: translate["datapacks.neoenchant.enchant.auto_smelt.description"],
                image: "/images/features/item/mining.webp",
                video: "/videos/datapacks/neoenchant/auto_smelt.webm",
                level: 1
            },
            {
                id: "miningplus",
                name: translate["datapacks.neoenchant.enchant.miningplus.title"],
                description: translate["datapacks.neoenchant.enchant.miningplus.description"],
                image: "/images/features/item/mining.webp",
                video: "/videos/datapacks/neoenchant/miningplus.webm",
                level: 1
            },
            {
                id: "vein_miner",
                name: translate["datapacks.neoenchant.enchant.vein_miner.title"],
                description: translate["datapacks.neoenchant.enchant.vein_miner.description"],
                image: "/images/features/item/pickaxe.webp",
                video: "/videos/datapacks/neoenchant/vein_miner.webm",
                level: 1
            },
            {
                id: "timber",
                name: translate["datapacks.neoenchant.enchant.timber.title"],
                description: translate["datapacks.neoenchant.enchant.timber.description"],
                image: "/images/features/item/axe.webp",
                video: "/videos/datapacks/neoenchant/timber.webm",
                level: 1
            },
            {
                id: "scyther",
                name: translate["datapacks.neoenchant.enchant.scyther.title"],
                description: translate["datapacks.neoenchant.enchant.scyther.description"],
                image: "/images/features/item/hoe.webp",
                video: "/videos/datapacks/neoenchant/scyther.webm",
                level: 3
            },
            {
                id: "bedrock_breaker",
                name: translate["datapacks.neoenchant.enchant.bedrock_breaker.title"],
                description: translate["datapacks.neoenchant.enchant.bedrock_breaker.description"],
                image: "/images/features/item/pickaxe.webp",
                video: "/videos/datapacks/neoenchant/bedrock_breaker.webm",
                level: 1,
                addons: true
            },
            {
                id: "spawner_touch",
                name: translate["datapacks.neoenchant.enchant.spawner_touch.title"],
                description: translate["datapacks.neoenchant.enchant.spawner_touch.description"],
                image: "/images/features/item/pickaxe.webp",
                video: "/videos/datapacks/neoenchant/spawner_touch.webm",
                level: 1,
                addons: true
            }
        ]
    },
    {
        id: "armor",
        image: "/images/features/item/chestplate.webp",
        short: translate["datapacks.neoenchant.type.armor.short"],
        enchants: [
            {
                id: "lifeplus",
                name: translate["datapacks.neoenchant.enchant.lifeplus.title"],
                description: translate["datapacks.neoenchant.enchant.lifeplus.description"],
                image: "/images/features/item/armor.webp",
                video: "/videos/datapacks/neoenchant/lifeplus.webm",
                level: 5
            },
            {
                id: "venom_protection",
                name: translate["datapacks.neoenchant.enchant.venom_protection.title"],
                description: translate["datapacks.neoenchant.enchant.venom_protection.description"],
                image: "/images/features/item/armor.webp",
                video: "/videos/datapacks/neoenchant/venom_protection.webm",
                level: 1,
                addons: true
            },
            {
                id: "fury",
                name: translate["datapacks.neoenchant.enchant.fury.title"],
                description: translate["datapacks.neoenchant.enchant.fury.description"],
                image: "/images/features/item/armor.webp",
                thumbnail: "/videos/datapacks/neoenchant/fury.webp",
                level: 4
            },
            {
                id: "voidless",
                name: translate["datapacks.neoenchant.enchant.voidless.title"],
                description: translate["datapacks.neoenchant.enchant.voidless.description"],
                image: "/images/features/item/helmet.webp",
                video: "/videos/datapacks/neoenchant/voidless.webm",
                level: 1,
                addons: true
            },
            {
                id: "bright_vision",
                name: translate["datapacks.neoenchant.enchant.bright_vision.title"],
                description: translate["datapacks.neoenchant.enchant.bright_vision.description"],
                image: "/images/features/item/helmet.webp",
                video: "/videos/datapacks/neoenchant/bright_vision.webm",
                level: 1
            },
            {
                id: "auto_feed",
                name: translate["datapacks.neoenchant.enchant.auto_feed.title"],
                description: translate["datapacks.neoenchant.enchant.auto_feed.description"],
                image: "/images/features/item/helmet.webp",
                video: "/videos/datapacks/neoenchant/auto_feed.webm",
                level: 1
            },
            {
                id: "builder_arm",
                name: translate["datapacks.neoenchant.enchant.builder_arm.title"],
                description: translate["datapacks.neoenchant.enchant.builder_arm.description"],
                image: "/images/features/item/chestplate.webp",
                video: "/videos/datapacks/neoenchant/arms.webm",
                level: 5
            },
            {
                id: "armored",
                name: translate["datapacks.neoenchant.enchant.armored.title"],
                description: translate["datapacks.neoenchant.enchant.armored.description"],
                image: "/images/features/item/elytra.webp",
                thumbnail: "/videos/datapacks/neoenchant/armored.webp",
                level: 4,
                addons: true
            },
            {
                id: "dwarfed",
                name: translate["datapacks.neoenchant.enchant.dwarfed.title"],
                description: translate["datapacks.neoenchant.enchant.dwarfed.description"],
                image: "/images/features/item/leggings.webp",
                video: "/videos/datapacks/neoenchant/dwarfed.webm",
                level: 4
            },
            {
                id: "fast_swim",
                name: translate["datapacks.neoenchant.enchant.fast_swim.title"],
                description: translate["datapacks.neoenchant.enchant.fast_swim.description"],
                image: "/images/features/item/leggings.webp",
                video: "/videos/datapacks/neoenchant/fast_swim.webm",
                level: 1,
                addons: true
            },
            {
                id: "leaping",
                name: translate["datapacks.neoenchant.enchant.leaping.title"],
                description: translate["datapacks.neoenchant.enchant.leaping.description"],
                image: "/images/features/item/leggings.webp",
                video: "/videos/datapacks/neoenchant/leaping.webm",
                level: 2
            },
            {
                id: "oversize",
                name: translate["datapacks.neoenchant.enchant.oversize.title"],
                description: translate["datapacks.neoenchant.enchant.oversize.description"],
                image: "/images/features/item/leggings.webp",
                video: "/videos/datapacks/neoenchant/oversize.webm",
                level: 4
            },
            {
                id: "lava_walker",
                name: translate["datapacks.neoenchant.enchant.lava_walker.title"],
                description: translate["datapacks.neoenchant.enchant.lava_walker.description"],
                image: "/images/features/item/boots.webp",
                video: "/videos/datapacks/neoenchant/lava_walker.webm",
                level: 3,
                addons: true
            },
            {
                id: "sky_walk",
                name: translate["datapacks.neoenchant.enchant.sky_walk.title"],
                description: translate["datapacks.neoenchant.enchant.sky_walk.description"],
                image: "/images/features/item/boots.webp",
                video: "/videos/datapacks/neoenchant/sky_walk.webm",
                level: 1
            },
            {
                id: "step_assist",
                name: translate["datapacks.neoenchant.enchant.step_assist.title"],
                description: translate["datapacks.neoenchant.enchant.step_assist.description"],
                image: "/images/features/item/boots.webp",
                video: "/videos/datapacks/neoenchant/step_assist.webm",
                level: 3,
                addons: true
            },
            {
                id: "agility",
                name: translate["datapacks.neoenchant.enchant.agility.title"],
                description: translate["datapacks.neoenchant.enchant.agility.description"],
                image: "/images/features/item/boots.webp",
                video: "/videos/datapacks/neoenchant/agility.webm",
                level: 5
            }
        ]
    }
];
---

<CompoundLayout description={translate["datapacks.neoenchant.description"]} openGraph={{
    title: translate["datapacks.neoenchant.title"] + " - " + translate["generic.branding"],
    description: translate["datapacks.neoenchant.description"],
    image: "/images/background/datapacks/neoenchant.webp",
}} title="Neo Enchant">
    <section class="max-h-dvh relative z-20 border-b border-pink-300/50">
        <Image src="/images/background/datapacks/neoenchant.webp" alt="Neo Enchant" width="1920" height="1080"
               loading="eager"
               class="w-full h-full absolute object-cover object-center -z-10"/>

        <div class="py-80 gap-8 flex flex-col md:flex-row items-center h-full justify-start w-10/12 mx-auto">
            <div class="max-w-3xl">
                <h1 class="text-6xl xl:text-8xl tracking-wide break-words font-bold text-white">
                    {translate["datapacks.neoenchant.title"]}
                </h1>
                <p class="text-rose-50 font-light break-words text-sm xl:text-lg mt-4">
                    {translate["datapacks.neoenchant.description"]}
                </p>
                <div class="mt-8 flex gap-4 flex-col md:flex-row items-center">
                    <Button href="https://modrinth.com/datapack/neoenchant" variant="modrinth"
                            class="w-full md:w-auto">
                        <img src="/icons/company/modrinth.svg" alt="Modrinth" class="w-6 h-6 mr-4"/>
                        {translate["datapacks.modrinth.download"]}
                    </Button>
                    <Button href="https://discord.gg/mVpYB6kF93" variant="shimmer" class="w-full md:w-auto">
                        <img src="/icons/company/discord.svg" alt="GitHub" class="w-6 h-6 mr-4 invert"/>
                        {translate["footer.social.discord"]}
                    </Button>
                    <Button href="https://github.com/Hardel-DW/NeoEnchant/wiki/Custom-Enchantments"
                            class="w-full md:w-auto">
                        {translate["datapacks.wiki"]}
                    </Button>
                </div>
            </div>
            <div class="flex-1 hidden md:block">
                <Adsense slot="2018282613"/>
            </div>
        </div>
    </section>

    <section class="mt-40 mb-20 relative">
        <div class="fixed inset-0 -z-10">
            <ShiningStars/>
        </div>

        <div class="w-5/6 mx-auto">
            <NeoEnchantmentViewer enchant={sections} client:only="react"/>
            <div class="pt-8">
                <Adsense class="flex justify-center" slot="4898864304"/>
            </div>
        </div>
    </section>

    <section class="w-3/4 mx-auto relative grid md:grid-cols-2 items-center gap-x-8 gap-y-24 my-40">
        <div class="absolute w-full inset-0 shadow-2xl bg-linear-to-r from-[#401727] to-[#311e7696] opacity-20 rounded-full blur-[10rem]"/>
        <DashedPattern class="[mask-image:radial-gradient(white,transparent_60%)]"/>

        <div class="h-full w-full mx-auto relative">
            <div class="size-full flex flex-col justify-center">
                <small class="text-pink-700 font-bold tracking-wide text-[16px]">
                    {translate["generic.section"]}
                </small>
                <h1 class="text-white text-4xl md:text-6xl font-bold mt-4 text-balance">
                    {translate["datapacks.neoenchant.personalize.title"]}
                </h1>
                <p class="text-gray-300 mt-4">
                    {translate["datapacks.neoenchant.personalize.description"]}
                </p>

                <div class="mt-8 flex flex-col md:flex-row gap-4">
                    <Button href={`/${lang}/tools/enchant`} size="xl" variant="primary" class="w-full md:w-auto">
                        {translate["generic.start"]}
                    </Button>
                    <Button href={`/${lang}/tools/enchant`} size="xl" variant="ghost" class="w-full md:w-auto">
                        {translate["generic.learn_more"]}
                    </Button>
                </div>
            </div>
        </div>
        <div class="relative w-full flex justify-center items-center">
            <img class="absolute opacity-10 select-none" src="/icons/circle.svg" alt="box"/>
            <Image loading="eager" width="1200" height="900" src="/images/background/tools/enchant-hero.webp" alt="404"
                   class="aspect-auto select-none"
            />
        </div>
    </section>

    <section class="relative mt-40">
        <div class="absolute inset-0 h-full overflow-hidden p-8 opacity-50">
            <Vortex/>
        </div>

        <div class="w-3/4 mx-auto gap-8">
            <div class="mb-24">
                <h1 class="text-4xl md:text-6xl break-words font-bold text-white text-center w-full md:w-1/2 mx-auto">
                    {translate["datapacks.neoenchant.ecosystem"]}
                </h1>
                <hr class="border-t-4 mt-4 rounded-full border-rose-700 w-1/4 mx-auto"/>
            </div>
            <div class="grid md:grid-cols-2 items-center w-full gap-y-36 gap-x-16 min-h-[568px] py-24 mb-24">
                <DatapackCard
                        href="https://modrinth.com/datapack/beyondenchant"
                        asset="/images/background/datapacks/beyond.webp"
                        title={translate["datapacks.beyondenchant.short"]}
                        description={translate["datapacks.beyondenchant.description"]}
                        buttonText={translate["datapacks.modrinth.download"]}
                        buttonTextMobile={translate["generic.more"]}
                />

                <DatapackCard
                        href="https://modrinth.com/datapack/yggdrasil-structure"
                        asset="/images/background/datapacks/yggdrasil.webp"
                        title={translate["datapacks.yggdrasil.short"]}
                        description={translate["datapacks.yggdrasil.description"]}
                        buttonText={translate["datapacks.modrinth.download"]}
                        buttonTextMobile={translate["generic.more"]}
                />

                <DatapackCard
                        href="https://modrinth.com/datapack/better-furnace"
                        asset="/images/background/datapacks/better_furnace.webp"
                        title={translate["datapacks.better_furnace.short"]}
                        description={translate["datapacks.better_furnace.description"]}
                        buttonText={translate["datapacks.modrinth.download"]}
                        buttonTextMobile={translate["generic.more"]}
                />

                <Adsense slot="8340982538"/>
            </div>
        </div>
    </section>
</CompoundLayout>
