---
import { cn } from "@/lib/utils";

export interface Props {
    title: string;
    redirect: string;
    time: string;
    description: string;
    premium: boolean;
}

const { title, redirect, description, premium } = Astro.props;

const path = premium ? "/premium" : redirect;
---

<li class="group flex items-center justify-between space-x-2">
    <div class="flex gap-x-5 items-center">
        <a href={path}>
            <h3 class={cn(
                'text-md transition tracking-wide font-medium',
                premium ? 'text-zinc-500' : 'text-zinc-100 group-hover:text-pink-600'
            )}>{title}</h3>
            <p class={cn("text-sm text-zinc-500", {"text-zinc-600": premium})}>
                {description}
            </p>
        </a>
    </div>
    <div class="hidden md:block space-y-2">
        {premium && <img src="/icons/lock.svg" alt="lock" class="w-8 h-8 invert opacity-70"/>}
        {!premium &&
                <a href={redirect} class="text-black hover:bg-zinc-400 transition bg-zinc-200 rounded-xl py-2 px-4">
                    Commencer
                </a>
        }
    </div>
</li>