<div class="p-8 rounded-xl border border-zinc-800 gradient-gray space-y-5">
    <div>
        <svg class="size-8" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path fill="#fff" fill-rule="evenodd"
                  d="M6.48 6.327 2.672 9.5l3.808 3.173a.75.75 0 1 1-.96 1.153l-4.5-3.75a.75.75 0 0 1 0-1.153l4.5-3.75a.75.75 0 1 1 .96 1.154Zm16.5 2.596-4.5-3.75a.75.75 0 1 0-.96 1.154L21.328 9.5l-3.808 3.173a.75.75 0 1 0 .96 1.153l4.5-3.75a.75.75 0 0 0 0-1.153ZM15.256.545a.75.75 0 0 0-.961.45l-6 16.5a.75.75 0 1 0 1.41.51l6-16.5a.75.75 0 0 0-.45-.96Z"
                  clip-rule="evenodd"/>
        </svg>
    </div>

    <div class="space-y-2">
        <h1 class="text-[20px] text-white tracking-wider">
            <slot name="title"/>
        </h1>
        <p class="text-[18px] tracking-normal font-extralight text-zinc-400">
            <slot name="content"/>
        </p>
    </div>
</div>