---
import Button from "@/components/ui/button.astro";

interface Props {
    isPremium: boolean;
}

const { isPremium }: Props = Astro.props;
---
<div class="relative">
    <div id="authtoggle"
         class="flex items-center justify-between rounded-2xl gap-x-4 px-4 py-2 border border-zinc-900 relative overflow-hidden cursor-pointer">
        <div class="absolute right-0 size-32 bg-linear-to-r from-fuchsia-500 via-pink-500 to-transparent opacity-20 rounded-full blur-[70px]"/>

        <div class="space-y-4 py-2">
            <div class="flex flex-col space-y-1.5 p-2">
                {!isPremium && (
                        <h3 class="whitespace-nowrap text-2xl font-semibold leading-none tracking-tight">
                            Premium
                        </h3>
                )}
                <p class="text-sm text-zinc-400">
                    Apprend à ton rythme, Deviens un pro et amuse-toi
                </p>
            </div>
            <div class="w-full">
                <Button class="w-full">
                    Connexion avec Google
                </Button>
            </div>
        </div>
    </div>
</div>