---
import { Image } from "astro:assets";
import { getEntry } from "astro:content";
import CompoundLayout from "@/components/layouts/CompoundLayout.astro";
import Box from "@/components/pages/home/Box.astro";
import Adsense from "@/components/ui/adsense.astro";
import Button from "@/components/ui/button.astro";
import Faq from "@/components/ui/faq.astro";
import DashedPattern from "@/components/ui/pattern/DashedPattern.astro";
import Fog from "@/components/ui/pattern/Fog.astro";
import ShiningStars from "@/components/ui/pattern/ShiningStars.astro";
import Vortex from "@/components/ui/pattern/Vortex.astro";
import { getTranslations, names } from "@/lib/i18n";

const { lang, translate } = await getTranslations(Astro.url);
const faq = await getEntry("faq", `${lang}/home`);

export const prerender = true;
export async function getStaticPaths() {
    return names.map((element) => ({
        params: { lang: element.lang }
    }));
}

const values = faq.data.values;
---

<CompoundLayout>
    <div>
        <!-- Background -->
        <div class="absolute rounded-full w-3/4 h-1/2 bg-gradient-to-r from-[#401727] to-[#311e7696] opacity-20 blur-[10rem] top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"/>

        <!-- Shining stars -->
        <div class="fixed inset-0 -z-10">
            <ShiningStars/>
        </div>

        <!-- Particles -->
        <div class="absolute inset-0 h-full overflow-hidden p-8 opacity-50">
            <Vortex/>
        </div>

        <!-- Main view -->
        <section class="h-dvh w-3/4 mx-auto flex xl:grid grid-cols-2 items-center gap-8">
            <div class="absolute w-full inset-0 shadow-2xl bg-gradient-to-r from-[#401727] to-[#311e7696] opacity-20 rounded-full blur-[10rem]"/>

            <div class="h-full w-[95%] md:w-full mx-auto relative">
                <div class="xl:invisible visible absolute flex justify-center items-center size-full -z-10">
                    <div class="absolute inset-0 top-1/2 -translate-y-1/2 shadow-2xl bg-gradient-to-r from-pink-900 to-blue-900 opacity-50 rounded-full blur-[5rem]"/>
                </div>

                <div class="size-full flex flex-col justify-center">
                    <small class="text-pink-700 font-bold tracking-wide text-[16px]">
                        {translate["generic.section"]}
                    </small>
                    <h1 class="text-white text-4xl md:text-6xl font-bold mt-4 text-balance">
                        {translate["home.main.title"]}
                    </h1>
                    <p class="text-gray-300 mt-4">
                        {translate["home.main.description"]}
                    </p>

                    <div class="mt-8 flex gap-4">
                        <Button href="/guides" size="xl" variant="primary">
                            {translate["generic.start"]}
                        </Button>
                        <Button href="/guides/basic_concept_forge" size="xl" variant="ghost">
                            {translate["generic.learn_more"]}
                        </Button>
                    </div>
                </div>
            </div>
            <div class="relative w-full hidden xl:flex justify-center items-center">
                <Image loading="eager" width="500" height="500" src="/images/features/dev.webp" alt="404"
                       class="w-1/2 aspect-auto animate-levitate drag-none"
                />
                <img class="absolute opacity-10 drag-none" src="/icons/circle.svg" alt="box"/>
            </div>
        </section>

        <!-- Features -->
        <section class="mb-20 md:mb-40 md:mt-20 pb-52 w-3/4 mx-auto xl:grid grid-cols-2 gap-40 relative">
            <div class="absolute w-10/12 h-full -translate-x-1/2 left-1/2 bottom-0 top-1/2 -translate-y-1/2">
                <Fog/>
            </div>

            <div class="hidden xl:flex justify-center items-center relative w-full">
                <Image loading="eager" width="442" height="544" src="/images/features/skin/avatar.webp" alt="404"
                       class="w-1/2 aspect-auto animate-levitate scale-x-[-1] drag-none"/>
                <img class="absolute opacity-10 drag-none" src="/icons/circle.svg" alt="box"/>
            </div>

            <div class="w-[95%] xl:w-full mx-auto">
                <small class="text-pink-700 font-bold tracking-wide text-[16px]">
                    {translate["generic.section"]}
                </small>
                <h1 class="text-white text-4xl md:text-5xl font-bold mt-4">
                    {translate["home.feature.title"]}
                </h1>
                <p class="text-zinc-400 text-sm md:text-base mt-6">
                    {translate["home.feature.description"]}
                </p>

                <div class="grid grid-cols-3 gap-4 mt-8">
                    <div class="relative flex items-center justify-center bg-zinc-900 border border-zinc-700 px-3 py-4 rounded-xl shadow-xl shadow-zinc-950 overflow-hidden">
                        <h2 class="text-white text-sm md:text-base font-bold text-center">
                            {translate["home.feature.keyword"]}
                        </h2>
                    </div>
                    <div class="relative flex items-center justify-center bg-zinc-900 border border-zinc-700 px-3 py-4 rounded-xl shadow-xl shadow-zinc-950 overflow-hidden">
                        <h2 class="text-white text-sm md:text-base font-bold text-center">
                            {translate["home.feature.keyword_2"]}
                        </h2>
                    </div>
                    <div class="relative flex items-center justify-center bg-zinc-900 border border-zinc-700 px-3 py-4 rounded-xl shadow-xl shadow-zinc-950 overflow-hidden">
                        <h2 class="text-white text-sm md:text-base font-bold text-center">
                            {translate["home.feature.keyword_3"]}
                        </h2>
                    </div>
                    <div class="col-span-3 w-full">
                        <div class="flex justify-center items-center">
                            <Adsense slot="4898864304"/>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Configurator -->
        <section
                class="mb-32 md:mb-52 md:mt-20 pb-52 w-3/4 mx-auto relative grid md:grid-cols-2 items-center gap-x-8 gap-y-24">
            <div class="absolute w-full inset-0 shadow-2xl bg-gradient-to-r from-[#401727] to-[#311e7696] opacity-20 rounded-full blur-[10rem]"/>
            <DashedPattern class="[mask-image:radial-gradient(white,transparent_60%)]"/>

            <div class="h-full w-full mx-auto relative">
                <div class="size-full flex flex-col justify-center">
                    <small class="text-pink-700 font-bold tracking-wide text-[16px]">
                        {translate["generic.section"]}
                    </small>
                    <h1 class="text-white text-4xl md:text-6xl font-bold mt-4 text-balance">
                        {translate["datapacks.neoenchant.personalize.title"]}
                    </h1>
                    <p class="text-gray-300 mt-4">
                        {translate["datapacks.neoenchant.personalize.description"]}
                    </p>

                    <div class="mt-8 flex flex-col md:flex-row gap-4">
                        <Button href={`/${lang}/tools/enchant`} size="xl" variant="ghost" class="w-full md:w-3/4">
                            {translate["generic.start"]}
                        </Button>
                    </div>
                </div>
            </div>
            <div class="relative w-full flex justify-center items-center">
                <img class="absolute opacity-10 drag-none" src="/icons/circle.svg" alt="box"/>
                <Image loading="eager" width="1200" height="900" src="/images/background/tools/enchant-hero.webp"
                       alt="404"
                       class="aspect-auto drag-none"
                />
            </div>
        </section>

        <!-- Product -->
        <section class="my-32 md:my-52 px-8 w-full md:w-3/4 xl:w-1/2 mx-auto grid md:grid-cols-2 gap-8">
            <Box loading="eager" image="/images/features/structure/tree.webp"
                 class="border-zinc-800 border-2 relative z-10">
                <div class="absolute -z-10 top-0 left-0 w-full h-full bg-gradient-to-r from-pink-900 to-blue-900 opacity-30 rounded-full blur-[5rem]"/>
                <h2 class="text-white text-xl md:text-2xl font-bold text-left line-clamp-1">
                    {translate["home.product.modding.title"]}
                </h2>
                <p class="text-zinc-400 text-sm md:text-base mt-2 line-clamp-3">
                    {translate["home.product.modding.description"]}
                </p>
                <div class="flex flex-wrap gap-2 mt-6">
                    <Button class="w-full xl:w-fit" href="/guides" size="sm" variant="primary">
                        {translate["generic.start"]}
                    </Button>
                    <Button class="w-full xl:w-fit" href="/guides" size="sm" variant="transparent">
                        {translate["generic.learn_more"]}
                    </Button>
                </div>
            </Box>
            <Box loading="lazy" image="/images/features/bundle.webp">
                <h2 class="text-white text-xl md:text-2xl font-bold text-left line-clamp-1">
                    {translate["home.product.resource.title"]}
                </h2>
                <p class="text-zinc-400 text-sm md:text-base mt-2 line-clamp-3">
                    {translate["home.product.resource.description"]}
                </p>
                <Button class="w-full xl:w-fit mt-6" href="/" size="md" variant="transparent">
                    {translate["generic.take_a_look"]}
                </Button>
            </Box>
            <Box loading="lazy" image="/images/features/title/question_mark.webp">
                <h2 class="text-white text-xl md:text-2xl font-bold text-left line-clamp-1">
                    {translate["generic.soon"]}
                </h2>
                <p class="text-zinc-400 text-sm md:text-base mt-2 line-clamp-3">
                    {translate["home.product.soon"]}
                </p>
            </Box>

            <div class="flex flex-col items-center justify-between gradient-gray cursor-pointer border-t-2 border-r border-zinc-800 p-10 sm:p-16 rounded-3xl shadow-2xl shadow-black transition opacity-75 hover:opacity-100">
                <div class="size-full flex justify-center items-center">
                    <Adsense slot="2018282613" format="rectangle" style="width: 100%; aspect-ratio: 1/1"/>
                </div>
            </div>
        </section>

        <!-- FAQ -->
        <section class="mt-20 mb-20 w-3/4 xl:w-full mx-auto relative">
            <Faq values={values}/>
        </section>
    </div>
</CompoundLayout>