---
import PageLayout from "@/components/layouts/PageLayout.astro";
import Button from "@/components/ui/button.astro";
import { getTranslations } from "@/lib/i18n";
import Stripe from "stripe";

export const prerender = false;
const { translate } = await getTranslations(Astro.url);
const stripe = new Stripe(import.meta.env.STRIPE_SECRET_KEY, {
    apiVersion: "2024-12-18.acacia"
});

const { session } = Astro.params;
if (typeof session !== "string") {
    throw new Error("Session is required");
}

const stripeSession = await stripe.checkout.sessions.retrieve(session);
const isValidSession = stripeSession && stripeSession.payment_status === "paid";
---

<PageLayout>
    <main class="mt-24 mb-20 relative w-full">
        <section class="w-11/12 md:w-3/4 mx-auto my-16 relative z-20">
            <h1 class="text-3xl lg:text-6xl lg:tracking-tight font-bold mt-1 lg:leading-tight">
                {translate["payment.success.title"]}
            </h1>
            <p class="text-zinc-400 mt-4 text-lg">
                {translate["payment.success.description"]}
            </p>

            {isValidSession && (
                <div class="mt-10">
                    <Button href={`/api/download/${session}`}>
                        {translate["payment.success.download"]}
                    </Button>
                </div>
            )}
        </section>
    </main>
</PageLayout> 