---
import PageLayout from "@/components/layouts/PageLayout.astro";
import Button from "@/components/ui/button.astro";
import { getTranslations } from "@/lib/i18n";
import Stripe from "stripe";

export const prerender = false;
const { translate } = await getTranslations(Astro.url);
const stripe = new Stripe(import.meta.env.STRIPE_SECRET_KEY, {
    apiVersion: "2024-12-18.acacia"
});

const { session } = Astro.params;
if (typeof session !== "string") {
    throw new Error("Session is required");
}

const stripeSession = await stripe.checkout.sessions.retrieve(session);
console.log("stripeSession", stripeSession);
if (!stripeSession) {
    return Astro.redirect("/");
}

const isValidSession = stripeSession && stripeSession.payment_status === "paid";
console.log("isValidSession", isValidSession);

if (!isValidSession) {
    return Astro.redirect("/");
}

console.log("passed");

const lineItems = await stripe.checkout.sessions.listLineItems(session);
console.log("lineItems", lineItems);
const products = await Promise.all(
    lineItems.data.map(async (item) => {
        if (item.price?.product) {
            const product = await stripe.products.retrieve(item.price.product as string);
            return {
                id: product.id,
                name: product.name,
                description: product.description,
                image: product.images[0],
                price: (item.amount_total || 0) / 100,
                date: new Date().toISOString().split("T")[0]
            };
        }
    })
);

console.log("products", products);
---

<PageLayout>
    <main class="mt-24 mb-20 relative w-full">
        <section class="w-11/12 md:w-3/4 mx-auto my-16 relative z-20">

        </section>
    </main>
</PageLayout> 