---
import Tracker from "@/components/layouts/compound/tracking/tracker.astro";
import Button from "@/components/ui/button.astro";
import { getTranslations } from "@/lib/i18n";

const { translate } = await getTranslations(Astro.url);
---

<div id="tracking" class="fixed bottom-0 left-0 md:bottom-2 md:left-2 p-2 w-full s:max-w-[30rem] z-10"
     style="display: block">
    <div class="p-4 space-y-6 rounded-2xl border border-zinc-800 bg-black/90 backdrop-blur-xl">
        <div>
            <h1 class="text-white font-bold tracking-normal text-base mb-1">
                {translate["tracker.title"]}
            </h1>
            <p class="text-zinc-300 tracking-normal text-sm">
                {translate["tracker.description"]}
            </p>
        </div>
        <div class="flex justify-between items-center flex-col s:flex-row gap-2">
            <Button id="open" class="w-full s:w-auto" rounded="full" variant="transparent">
                {translate["generic.settings"]}
            </Button>
            <div class="w-full s:w-auto flex gap-2">
                <Button id="accept" class="flex-1" rounded="full">
                    {translate["generic.accept"]}
                </Button>
                <Button id="decline" class="flex-1" rounded="full">
                    {translate["generic.cancel"]}
                </Button>
            </div>
        </div>
    </div>
</div>

<dialog id="dialog"
        class="fixed max-w-[720px] inset-0 rounded-2xl border border-zinc-700 bg-black backdrop-blur-xl space-y-6 backdrop:bg-black/50 backdrop:backdrop-blur-md backdrop:z-10">
    <div class="space-y-4 pt-8 px-8">
        <div class="flex flex-col md:flex-row justify-between items-center">
            <h1 class="text-white font-bold tracking-normal text-2xl">
                {translate["tracker.title"]}
            </h1>
            <Button class="w-fit text-sm md:text-base" variant="link" href="/privacy">
                {translate["tracker.privacy"]}
            </Button>
        </div>
        <p class="text-zinc-300 tracking-normal text-sm">
            {translate["tracker.privacy.description"]}
        </p>
    </div>

    <div class="px-12 py-4 mt-0">
        <Tracker alwaysActive class="rounded-t-2xl">
            <Fragment slot="title">
                {translate["tracker.necessary.title"]}
            </Fragment>
            <Fragment slot="description">
                {translate["tracker.necessary.description"]}
            </Fragment>
        </Tracker>
        <Tracker active id="analytics">
            <Fragment slot="title">
                {translate["tracker.analytics.title"]}
            </Fragment>
            <Fragment slot="description">
                {translate["tracker.analytics.description"]}
            </Fragment>
        </Tracker>
        <Tracker active id="marketing" class="rounded-b-2xl">
            <Fragment slot="title">
                {translate["tracker.marketing.title"]}
            </Fragment>
            <Fragment slot="description">
                {translate["tracker.marketing.description"]}
            </Fragment>
        </Tracker>
    </div>

    <div class="flex justify-between items-center flex-col s:flex-row gap-2 border-t border-zinc-800 rounded-b-2xl bg-zinc-950 p-4">
        <Button id="consent-dialog" data-open-modal class="w-full s:w-auto" rounded="full"
                variant="transparent">
            {translate["tracker.consent_save"]}
        </Button>
        <div class="w-full s:w-auto flex gap-2">
            <Button id="deny-dialog" class="px-4 flex-1" rounded="full">
                {translate["generic.cancel"]}
            </Button>
            <Button id="accept-dialog" class="flex-1" rounded="full">
                {translate["generic.accept"]}
            </Button>
        </div>
    </div>
</dialog>

<script>
    const storage = window.localStorage;
    const dialog = document.getElementById('dialog')! as HTMLDialogElement;
    const tracking = document.getElementById('tracking')!;
    const openModalButtons = document.getElementById('open')!;
    const acceptButton = document.getElementById('accept')!;
    const denyButton = document.getElementById('decline')!;
    const consentButton = document.getElementById('consent-dialog')!;
    const denyDialogButton = document.getElementById('deny-dialog')!;
    const acceptDialogButton = document.getElementById('accept-dialog')!;
    const analytics = document.getElementById('analytics')! as HTMLInputElement;
    const marketing = document.getElementById('marketing')! as HTMLInputElement;

    if (!storage.getItem('consent')) {
        tracking.style.display = 'inherit';
    }

    if (!!storage.getItem('analytics')) {
        const input = analytics.querySelector('input');
        if (input !== null) {
            input.checked = storage.getItem('analytics') === 'true';
        }
    }

    if (!!storage.getItem('marketing')) {
        const input = marketing.querySelector('input');
        if (input !== null) {
            input.checked = storage.getItem('marketing') === 'true';
        }
    }

    const onConsent = () => {
        storage.setItem('consent', 'true');
        tracking.style.display = 'none';
        dialog.close();
    };

    const onDecline = () => {
        storage.setItem('consent', 'false');
        tracking.style.display = 'none';
        dialog.close();
    };

    const changeTracker = (e: Event) => {
        const target = e.target as HTMLInputElement;
        if (!target) return;
        const name = target.getAttribute('data-localname')!;
        const checked = target.checked;
        storage.setItem(name, checked.toString());
    };

    openModalButtons.addEventListener('click', () => dialog.showModal());
    denyButton.addEventListener('click', onDecline);
    denyDialogButton.addEventListener('click', onDecline);
    acceptButton.addEventListener('click', onConsent);
    acceptDialogButton.addEventListener('click', onConsent);
    consentButton.addEventListener('click', onConsent);
    analytics.addEventListener('change', changeTracker);
    marketing.addEventListener('change', changeTracker);

    dialog.addEventListener('click', (e: MouseEvent) => {
        if (!(e.target instanceof HTMLElement)) return;
        if (e.target.tagName !== 'DIALOG') return;

        const rect = e.target.getBoundingClientRect();
        const clickedInDialog = (
            rect.top <= e.clientY &&
            e.clientY <= rect.top + rect.height &&
            rect.left <= e.clientX &&
            e.clientX <= rect.left + rect.width
        );

        if (clickedInDialog === false) {
            (e.target as HTMLDialogElement).close();
        }
    });
</script>