---
import { cn } from "@/lib/utils";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"div"> {
    height?: number;
}
const props: Props = Astro.props;
---

<div
        class={cn("flex-none xl:flex-[1_0_0px] flex flex-col sm:flex-row md:flex-wrap xl:flex-nowrap gap-8 w-full", props.class)}
        style={{
            height: props.height ? `${props.height}px` : "360px"
        }}
        {...props}
>
    <slot/>
</div>