html,
body {
    height: 100%;
}

body {
    font-family: "Rubik", sans-serif;
    color: #e8e8e8;
    background-color: #080507;
    margin: 0;
    padding: 0;
    min-height: 100dvh;
    display: grid;
    grid-template-rows: 1fr auto;
}

.drag-none {
    user-select: none;
    user-drag: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
}

.unset {
    all: unset;
}

.gradient-gray {
    background-image: radial-gradient(circle farthest-side at 0 100%, #151414, transparent),
    radial-gradient(circle farthest-side at 100% 0, #0c0c0c, transparent), radial-gradient(circle farthest-side at 100% 100%, #1c1b1b, transparent),
    radial-gradient(circle farthest-side at 0 0, rgba(24, 24, 24, 0.8), #100707);
}

.pixelated {
    image-rendering: pixelated;
}

.scrollbar-hover::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px 10px rgba(0, 0, 0, 0);
}

.scrollbar-hover:hover::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px 10px #959595;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px 10px rgba(255, 255, 255, 0);
    border: solid 3px transparent;
    border-radius: 32px;
}

::-webkit-scrollbar-thumb {
    border-radius: 32px;
    box-shadow: inset 0 0 10px 10px #959595;
    border: solid 3px transparent;
}

::-webkit-scrollbar-corner {
    display: none;
}

::-webkit-resizer {
    display: none;
}

label {
    @apply relative h-6;

    [type="checkbox"] {
        all: unset;
        @apply w-11 cursor-pointer;
        @apply after:absolute after:top-0 after:block after:rounded-full after:w-5 after:h-5 after:mt-0.5 after:ml-0.5 after:shadow-md after:duration-200 after:bg-zinc-400 after:checked:bg-pink-900;
        @apply before:absolute before:top-0 before:inline-block before:rounded-full before:duration-100 before:w-10 before:h-6 before:bg-zinc-200 before:checked:bg-pink-500;
        @apply checked:after:duration-300 checked:after:translate-x-4;
        @apply disabled:after:bg-opacity-75 disabled:cursor-not-allowed disabled:checked:before:bg-opacity-40;
    }
}

.stack {
    display: grid;
}

.stack > * {
    grid-area: 1 / 1 / 2 / 2;
}