@import 'tailwindcss';
@import '@fontsource-variable/rubik';
@plugin "@tailwindcss/typography";

@utility shimmer-* {
    --c: --value(--color-*);
    animation: shimmer 2s linear infinite;
    background-image: linear-gradient(110deg in oklch,var(--c) 45%, oklch(from var(--c) clamp(0.3, calc(l + (0.7 - l) * 0.3), 0.95) calc(c * 0.9) h), var(--c) 55%);
    background-size: 200% 100%;
}

@utility beam-* {
    --c: --value(--color-*);
    background-image: linear-gradient(to right, transparent, var(--c), transparent);
}

@utility pixelated {
    image-rendering: pixelated;
}
  
@font-face {
    font-family: 'Minecraft';
    src: url('/fonts/minecraftten.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@theme {
    --font-minecraft: 'Minecraft', monospace;
    --font-rubik: 'Rubik Variable', sans-serif;
    --grid-template-columns-marketplace: repeat(auto-fill, minmax(250px, 1fr));
    --grid-template-columns-marketplace-pack: repeat(auto-fill, minmax(600px, 1fr));
    --animate-levitate: levitate 2500ms ease-in-out infinite;
    --animate-fadein: fadein 200ms ease-in;
    --animate-fill-horizontal: fill-horizontal linear forwards;
    --animate-fill-vertical: fill-vertical linear forwards;
    --color-header-translucent: #18181d6b;

    @keyframes shimmer {
        from { background-position: 0 0; }
        to { background-position: -200% 0; }
    }

    @keyframes levitate {
        0% { transform: translateY(0); }
        50% { transform: translateY(1.5rem); }
        100% { transform: translateY(0); }
    }

    @keyframes fadein {
        from { opacity: 0; }
        to { opacity: 1; }
    }

    @keyframes fill-horizontal {
        from { transform: scaleX(0); }
        to { transform: scaleX(1); }
    }

    @keyframes fill-vertical {
        from { transform: scaleY(0); }
        to { transform: scaleY(1); }
    }
}

html,
body {
    height: 100%;
}

body {
    font-family: var(--font-rubik);
    margin: 0;
    padding: 0;
    color: #e8e8e8;
    background: #000000 radial-gradient(hsl(0 0% 0% / 1), hsl(243.97deg 41% 0%)) no-repeat fixed;
    min-height: 100dvh;
    display: grid;
    grid-template-rows: 1fr auto;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px 10px rgba(255, 255, 255, 0);
    border: solid 3px transparent;
    border-radius: 32px;
}

::-webkit-scrollbar-thumb {
    border-radius: 32px;
    box-shadow: inset 0 0 10px 10px var(--color-primary);
    border: solid 3px transparent;
}

::-webkit-scrollbar-corner {
    display: none;
}

::-webkit-resizer {
    display: none;
}