---
import { cn } from "@/lib/utils";
import type { HTMLAttributes } from "astro/types";

/**
 * Color:
 * - Black: zinc-800 or black
 * - White: zinc-200 or white
 * - Destructive: red-600
 * - Primary: pink-700
 * - Border and Ring: zinc-500
 *
 * Hover add 100 to the color
 */
const variants = {
    variant: {
        default: "bg-zinc-200 text-zinc-800 border-2 border-zinc-500 hover:bg-zinc-300",
        primary: "bg-pink-700 text-zinc-200 hover:bg-pink-800",
        destructive: "bg-red-700 text-zinc-200 border-2 border-black text-zinc-200 hover:bg-red-800",
        black: "bg-black text-zinc-200 border-2 border-zinc-500 hover:bg-zinc-900",
        ghost: "bg-transparent text-zinc-200 border-2 border-zinc-500 hover:bg-zinc-200 hover:text-zinc-800",
        transparent: "bg-transparent text-zinc-200 border-2 border-zinc-500 hover:bg-white/10",
        link: "bg-transparent hover:text-white text-zinc-400",
        modrinth: "bg-modrinth transition hover:bg-green-700 text-black border-0",
        shimmer:
            "inline-flex h-12 animate-shimmer items-center justify-center rounded-md border border-slate-800 bg-[linear-gradient(110deg,#000103,45%,#1e2631,55%,#000103)] bg-[length:200%_100%] px-6 font-medium text-slate-400 transition-colors focus:outline-none focus:ring-2 focus:ring-slate-400 focus:ring-offset-2 focus:ring-offset-slate-50"
    },
    size: {
        default: "h-10 px-4 py-2",
        sm: "h-9 rounded-md px-3",
        md: "h-10 rounded-md px-4",
        lg: "h-11 rounded-md px-8",
        xl: "h-12 rounded-md px-10",
        "2xl": "h-12 rounded-md px-16",
        "3xl": "h-12 rounded-md px-20",
        icon: "h-12 w-12 p-2"
    },
    rounded: {
        default: "rounded-xl",
        none: "rounded-none",
        full: "rounded-full"
    },
    ring: {
        default: "ring-0",
        white: "ring-2 ring-zinc-200",
        primary: "ring-2 ring-pink-700",
        destructive: "ring-2 ring-red-700"
    },
    defaultVariant: {
        size: "default",
        variant: "default",
        rounded: "default",
        ring: "default"
    }
} as const;

interface Props extends HTMLAttributes<"a"> {
    variant?: keyof typeof variants.variant;
    size?: keyof typeof variants.size;
    rounded?: keyof typeof variants.rounded;
    ring?: keyof typeof variants.ring;
}

const {
    variant = variants.defaultVariant.variant,
    size = variants.defaultVariant.size,
    rounded = variants.defaultVariant.rounded,
    ring = variants.defaultVariant.ring,
    ...rest
}: Props = Astro.props;
---

<a
        class={cn([
            "inline-flex items-center justify-center whitespace-nowrap cursor-pointer truncate text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50",
            variants.variant[variant],
            variants.size[size],
            variants.rounded[rounded],
            variants.ring[ring],
            rest.class
        ])}
        {...rest}
>
    <slot/>
</a>
