---
import Disclosure from "./Disclosure.astro";

export interface Props {
    values: Array<{
        question: string;
        answer: string;
    }>;
}

const { values } = Astro.props;
---

<section class="grid divide-y divide-zinc-700 max-w-5xl mx-auto">
    {
        values.map((item) => (
            <Disclosure heading={item.question} >
                <p class="text-zinc-400 mt-4 group-open:animate-fadein">{item.answer}</p>
            </Disclosure>
        ))
    }
</section>